.paginate_button {
  background-color: #cbd5e1!important;
  font-size: 14px!important;
  border-radius: 0.5rem!important;
}
.paginate_button.current {
  color: #FFFFFF!important;
  background-color: #0ea5e9!important;
  border: 1px solid #f1f5f9!important;
}
.dataTables_info {
  font-size: 14px;
  color: #374151!important;
}
.dataTables_filter > label {
  font-size: 14px;
  color: #374151!important;
}
.dataTables_length > label {
  font-size: 14px;
  color: #374151!important;
}
.dataTables_filter > label > input {
  border: 1px solid #cbd5e1!important;
  border-radius: 0.5rem!important;
  background-color: #f9fafb!important;
  margin-bottom: 10px
}
.dataTables_length > label > select {
  border: 1px solid #cbd5e1!important;
  border-radius: 0.5rem!important;
  background-color: #f9fafb!important;
}
.select2-selection {
  border: 1px solid #cbd5e1!important;
  border-radius: 0.5rem!important;
  background-color: #f9fafb!important;
}

.product {
  width: 300px !important;
}

.select2-results__option {
  font-size: 14px;
  margin: 5px 5px;
}
.select2-results__option--highlighted {
  background-color: #0ea5e9!important;
  border-radius: 0.5rem!important;
}

.select2-search__field {
  font-size: 14px;
  border-radius: 0.5rem!important;
  border: 1px solid #cbd5e1!important;
}
.select2-dropdown {
  border-radius: 0.5rem!important;
  border: 1px solid #cbd5e1!important;
}
.select2-results__option--selected {
  background-color: #0ea5e9!important;
  border-radius: 0.5rem!important;
  color: #FFFFFF!important;
}